# HW06: ML and Causal Inference (due November 9th)

**As a first part of THIS WEEK'S homework (HW06) you will have to provide feedback to two of your classmates' essays on Eduflow.** On Eduflow, you will be automatically assigned to the two essays you have to provide feedback to on Friday, in case you want to start ahead.

### For the coding part of the homework, you will have to solve only one of the three exercises.

## Exercise 1: Double Machine learning with XGboost

In this exercise you will investigate a research question similar to the one in HW02. Namely, what is the effect of being in a Union on wages? You will use the same data as in HW02 (description of the variables can be found [here](https://rdrr.io/rforge/sampleSelection/man/nlswork.html)). Although, here instead of just including controls, you will estimate the effect of union membership on wages using double machine learning and you will use XGboost as machine learning algorithm. The regression of reference is the following: 

<center> $ln\_wage_i = \beta_0 + \beta_1 union_i +\varepsilon_i$ </center>

In [1]:
# Load Data (NLSY)
import pandas as pd
df = pd.read_stata('http://www.stata-press.com/data/r16/nlswork.dta')
df = df.dropna()

In [2]:
df.head()

,idcode,year,birth_yr,age,race,msp,nev_mar,grade,collgrad,not_smsa,...,south,ind_code,occ_code,union,wks_ue,ttl_exp,tenure,hours,wks_work,ln_wage
2,1,72,51,20.0,black,1.0,0.0,12.0,0,0.0,...,0.0,4.0,6.0,1.0,0.0,2.256410,0.916667,40.0,51.0,1.589977
5,1,77,51,25.0,black,0.0,0.0,12.0,0,0.0,...,0.0,12.0,8.0,0.0,0.0,3.775641,1.500000,32.0,52.0,1.778681
7,1,80,51,28.0,black,0.0,0.0,12.0,0,0.0,...,0.0,5.0,6.0,1.0,0.0,5.294872,1.833333,45.0,75.0,2.551715
9,1,85,51,33.0,black,0.0,0.0,12.0,0,0.0,...,0.0,5.0,6.0,1.0,0.0,7.160256,1.916667,42.0,97.0,2.614172
10,1,87,51,35.0,black,0.0,0.0,12.0,0,0.0,...,0.0,5.0,6.0,1.0,0.0,8.987180,3.916667,45.0,95.0,2.536374

In [4]:
import numpy as np
Y = df['ln_wage']
D = df['union']

In [5]:
data = pd.concat([Y,D],axis=1)
display(data)

        ln_wage  union
2      1.589977    1.0
5      1.778681    0.0
7      2.551715    1.0
9      2.614172    1.0
10     2.536374    1.0
...         ...    ...
28527  1.568116    0.0
28528  1.745062    1.0
28531  1.843853    1.0
28532  1.799792    1.0
28533  1.968204    1.0

[13452 rows x 2 columns]

In [6]:
import statsmodels.formula.api as smf

## Run the regression written above
res = smf.ols('ln_wage ~ union',data=data).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.052
Method:                 Least Squares   F-statistic:                     741.9
Date:                Sun, 07 Nov 2021   Prob (F-statistic):          4.56e-159
Time:                        19:03:30   Log-Likelihood:                -8266.7
No. Observations:               13452   AIC:                         1.654e+04
Df Residuals:                   13450   BIC:                         1.655e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.6564      0.004    377.147      0.000       1.648       1.665
union          0.2502      0.009     27.238      0.000       0.232       0.268
==============================================================================
Omnibus:                      425.572   Durbin-Watson:                   1.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              895.660
Skew:                           0.205   Prob(JB):                    3.24e-195
Kurtosis:                       4.196   Cond. No.                         2.53
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

**What could be potential sources of bias (i.e. confounders)?**

In [7]:
# fill in X with all predictors that are not colliders
X = df[['age', 'year','collgrad','occ_code','ttl_exp','hours' ]]

In [8]:
# split into sample A and sample B
#TODO
from sklearn.model_selection import train_test_split
X_a, X_b, D_a, D_b, y_a, y_b= train_test_split(X, D, Y, test_size=0.5)
X_atr, X_ats, X_btr, X_bts, D_atr, D_ats, D_btr, D_bts,y_atr, y_ats,y_btr, y_bts = train_test_split(X_a, X_b, D_a, D_b,y_a,y_b, test_size=0.2)
# Within each sample, make a validation set for xgboost early stopping
#TODO
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
xgb_a = XGBClassifier()
xgb_b = XGBClassifier()

In [9]:
D_atr.shape

(5380,)

In [10]:
# Step 1. In both samples, train an xgboost regressor model to predict log wages (outcome Y)
# use early stopping.
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
xgbr_a = XGBRegressor()
xgbr_b = XGBRegressor()

xgbr_a.fit(D_atr.values.reshape(-1,1),y_atr)
xgbr_b.fit(D_btr.values.reshape(-1,1),y_btr)
y_hat_a = xgbr_a.predict(D_ats.values.reshape(-1,1))
y_hat_b = xgbr_b.predict(D_bts.values.reshape(-1,1))
from scipy.spatial.distance import correlation
correlation(y_hat_a,y_ats)

0.7866515517234802

In [11]:
# Step 2. In both samples, train an xgboost classifier model to predict union status (treatment D)
# use early stopping.
from xgboost import XGBClassifier
xgbc_a = XGBClassifier()
xgbc_b = XGBClassifier()
xgbc_a.fit(X_atr,D_atr.values.reshape(-1,1))
xgbc_b.fit(X_btr,D_btr.values.reshape(-1,1))

C:\Users\jonat\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\jonat\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jonat\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[19:03:41] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[19:03:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [16]:
# Step 3. Cross-fitting: Form predictions in other sample.

# predict wages in sample A using model trained in sample B:
Y_hat_A = xgbr_b.predict(D_ats.values.reshape(-1,1))

# vice versa:
Y_hat_B = xgbr_a.predict(D_bts.values.reshape(-1,1))
    
# predict union status in sample A using model trained in sample B:
#TODO
D_hat_A = xgbc_b.predict(X_ats)
# vice versa:
#TODO
D_hat_B = xgbc_a.predict(X_bts)

Recall that residuals for a variable $Z_i$ are computed as follows:

<center>$\tilde{Z}_i = Z_i - \hat{Z}_i$</center>

where $\hat{Z}_i$ is the predicted value of $Z_i$

In [26]:
# Compute residuals for wages and union status.

# residualized wages in samples A and B:
y_tilde_A =  y_ats-Y_hat_A
y_tilde_B =  y_bts-Y_hat_B


# residualized union status in samples A and B:
D_tilde_A =  D_ats-D_hat_A
D_tilde_B =  D_bts-D_hat_B

var_res_a = pd.concat([y_tilde_A,D_tilde_A],axis=1)
var_res_b = pd.concat([y_tilde_B,D_tilde_B],axis=1)

In [45]:
# Step 4. Run OLS regressions of the residualized variables and produce Double ML estimate
## use robust standard errors 


res_A = smf.ols('ln_wage ~ union', data=var_res_a).fit()
beta_A = res_A.params
se_A = res_A.bse

res_B = smf.ols('ln_wage ~ union', data=var_res_b).fit()
beta_B = res_B.params
se_B = res_B.bse

##Take the average of the two coefficient and standard errors and show the result
display(res_A.summary(), res_B.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     4.136
Date:                Sun, 07 Nov 2021   Prob (F-statistic):             0.0422
Time:                        19:18:40   Log-Likelihood:                -835.49
No. Observations:                1346   AIC:                             1675.
Df Residuals:                    1344   BIC:                             1685.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0074      0.013      0.576      0.565      -0.018       0.032
union         -0.0511      0.025     -2.034      0.042      -0.100      -0.002
==============================================================================
Omnibus:                       29.455   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               51.982
Skew:                           0.148   Prob(JB):                     5.16e-12
Kurtosis:                       3.916   Cond. No.                         2.10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                ln_wage   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9636
Date:                Sun, 07 Nov 2021   Prob (F-statistic):              0.326
Time:                        19:18:40   Log-Likelihood:                -764.60
No. Observations:                1346   AIC:                             1533.
Df Residuals:                    1344   BIC:                             1544.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0257      0.012     -2.123      0.034      -0.049      -0.002
union          0.0247      0.025      0.982      0.326      -0.025       0.074
==============================================================================
Omnibus:                       24.948   Durbin-Watson:                   2.031
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.567
Skew:                           0.041   Prob(JB):                     4.69e-11
Kurtosis:                       3.917   Cond. No.                         2.21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

**Compare the estimates form this and the previous regression. How do these change?**

**Interpret the coefficient from the double ml approach. Can it be interpreted as causal?**

## Exercise 2: Synthetic Control Method

In this exercise we will investigate the economic effects of conflict by focusing on the Basque Country. In particular, we will focus on terrorist conflicts in late 1960's in this area and use as comparison group all other regions of Spain that did not experience terrorism. The (raw) reference regression is the following:

<center>$gdpcap_r = \beta_0 + \beta_1 terrorism_r + \varepsilon_r$</center>

where $gdpcap_r$ is GDP per capita in region $r$ and $terrorism_r$ is a dummy equal to 1 if terrorist conflict happened in that region.

In [ ]:
##note that to work correctly you will also have to downgrade scipy to version 1.4.1
!pip install scipy==1.4.1
!pip install SyntheticControlMethods

#restart the kernel after downrgading scipy

In [1]:
import pandas as pd
import statsmodels.formula.api as smf

df = pd.read_csv('data/HW06_data_scm.csv')
del df['Unnamed: 0']
del df['regionno']
df = df.loc[df["regionname"] != "Spain (Espana)"] 

df['terrorism'] = df['regionname']=='Basque Country (Pais Vasco)'
df['terrorism'] = df['terrorism'].astype('int')
df.head()

,regionname,year,gdpcap,sec.agriculture,sec.energy,sec.industry,sec.construction,sec.services.venta,sec.services.nonventa,school.illit,school.prim,school.med,school.high,school.post.high,popdens,invest,terrorism
43,Andalucia,1955,1.688732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
44,Andalucia,1956,1.758498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
45,Andalucia,1957,1.827621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46,Andalucia,1958,1.852756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
47,Andalucia,1959,1.878035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [2]:
import seaborn as sns

##plot gdp per capita over time separately for basque country and other regions of spain
## (i.e., separately for terrorism == 1 or 0)

**Does the parallel trend assumption hold? If not, why do you think this is the case?**

In [ ]:
## run a regression of terrorism on gdp per capita

**What could be potential threats to a causal interpretation of this result?**

In [3]:
from SyntheticControlMethods import Synth, DiffSynth
del df['terrorism']

##fit the synthetic control

In [ ]:
##visualize the plot

**What can you conclude about the effect of conflict on GDP?**

In [8]:
## Show which spanish regions were used to create the synthetic control

## Exercise 3: Heterogenous Treatment Effects

In this exercise we will investigate the effect of case management on mental health outcomes. These data come from a randomized control trial where patients were assigned to *intensive* or *standard* case management. In this context, the treatment is being assigned to the **intensive** case management while patients assigned to the **standard** case management belong to the control group..

In this exercise we will focus on heterogenous treatment effects, rather than on isolating the casual effect of the treatment. In particular, we will investigate characteristics of individuals who are most and least responsive to the treatment, i.e., to being assigned to the intensive case management.

In [9]:
import pandas as pd
import statsmodels.formula.api as smf

df = pd.read_stata('http://www.homepages.ucl.ac.uk/~rmjwiww/stata/missing/uk500.dta')
df = df.dropna()
pd.read_stata('http://www.homepages.ucl.ac.uk/~rmjwiww/stata/missing/uk500.dta', iterator=True).variable_labels()

{'trialid': 'Trial ID',
 'centreid': 'Trial centre',
 'status': 'Patient status at baseline',
 'age': 'Age in years at baseline',
 'sex': 'Sex',
 'afcarib': 'Ethnic group',
 'ocfabth': "Father's social class at birth",
 'chron1l': 'Months since onset of psychosis, logged',
 'hos94': 'Days in hospital for psychiatric reasons: 2 years before baseline',
 'cprs94': 'Psychopathology at baseline (CPRS)',
 'das94': 'Disability at baseline (DAS)',
 'sat94': '(Dis)satisfaction with services at baseline',
 'rand': 'Randomised group',
 'hos96': 'Days in hospital for psychiatric reasons: 2 years after baseline',
 'cprs96': 'Psychopathology at 2 years (CPRS)',
 'sat96': '(Dis)satisfaction with services at 2 years'}

In [10]:
df.head()

,trialid,centreid,status,age,sex,afcarib,ocfabth,chron1l,hos94,cprs94,das94,sat94,rand,hos96,cprs96,sat96
1,107.0,St George's,Out-patient,27.0,male,Other,A,3.178054,80.0,4.0,0.285714,18.0,Intensive case management,27.0,3.0,22.000
2,222005.0,St Mary's,In hospital,41.0,male,Other,D,4.521789,240.0,6.0,0.750000,15.0,Intensive case management,15.0,13.0,9.000
3,222018.0,St Mary's,In hospital,25.0,male,Other,C2,4.094345,48.0,12.0,0.125000,18.0,Intensive case management,263.0,6.0,21.375
5,312015.0,King's,Out-patient,31.0,female,Other,A,4.787492,60.0,28.0,2.375000,20.0,Intensive case management,45.0,19.0,17.000
6,221023.0,St Mary's,In hospital,35.0,male,Afro-Caribbean,C2,4.430817,60.0,25.0,1.571428,24.0,Intensive case management,58.0,27.0,19.125

The treatment variable is $rand$, the post-treatment outcomes are $hos96$, $cprs96$ and $sat96$.

In [11]:
treatvar = 'rand'
df[treatvar].value_counts()

Intensive case management    130
Standard case management     116
Name: rand, dtype: int64

In [12]:
outcomes = ['sat96', 'hos96', 'cprs96']
df[outcomes].describe()

            sat96       hos96      cprs96
count  246.000000  246.000000  246.000000
mean    17.271341   65.500000   17.790587
std      4.723009  104.046722   14.090911
min      9.000000    0.000000    0.000000
25%     14.000000    0.000000    7.000000
50%     17.000000   15.000000   15.000000
75%     20.187500   93.500000   26.000000
max     32.000000  692.000000   71.000000

In addition to these variables we need a set of covariates that we want to use to identify individuals who are most and least responsive to treatment. We also encode categorical covariates and prepare them for the ML model

In [16]:
#Encoding Categorical covariates and preparing the data for tensorflow
covariates = ['status', 'sex', 'sat94', 'ocfabth', 'hos94', 'das94', 'cprs94', 'age', 'afcarib']
covariates_cat = ['status', 'sex', 'ocfabth', 'afcarib']

from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df[covariates_cat] = encoder.fit_transform(df[covariates_cat])
df[covariates] = df[covariates].astype('float32')
df[covariates].head()

   status  sex  sat94  ocfabth  hos94     das94  cprs94   age  afcarib
1     1.0  1.0   18.0      0.0   80.0  0.285714     4.0  27.0      1.0
2     0.0  1.0   15.0      4.0  240.0  0.750000     6.0  41.0      1.0
3     0.0  1.0   18.0      3.0   48.0  0.125000    12.0  25.0      1.0
5     1.0  0.0   20.0      0.0   60.0  2.375000    28.0  31.0      1.0
6     0.0  1.0   24.0      3.0   60.0  1.571428    25.0  35.0      0.0

In [ ]:
# Subset the dataset by treatment and control
# Within each sample, create a training, a test and a validation set

df_treat = #TODO
df_control = #TODO

In [ ]:
##choose one of the three outcomes to analyze
## using xgboost regressor train two model to predict the outcome from the covariates
## the first model should be trained on the treated sample, while the second on the control
## use early stopping

from xgboost import XGBRegressor
xgbr_treat = XGBRegressor()
xgbr_control = XGBRegressor()

In [ ]:
##get predicted outcomes using the combined test sets for both models 

test_set = Xtreat_test.append(Xcontrol_test) 
y_hat_treat = ...
y_hat_control = ...

In [ ]:
##find the three individuals in the test set that are most and least responsive to the treatment
##namely the three individuals for who the treatment effect is larger and those for who it is smaller

test_set['treat_effect'] = ...

In [ ]:
##visualize and comment on the covariates of these individuals